:root{
    --navy-blue:#2E2F42;
    --iris:#4D5AE5;
    --white-color:#FFFFFF;
    --slate:#434455;
    --cloud:#F4F4FD;
    --cornflower:#E7E9FC;
    --green:#31D0AA;
    --ocean:#404BBF;
    --light-slate:#8E8F99;

    --timming: cubic-bezier(0.4, 0, 0.2, 1);

    --typical-lh: 1.33;
    --lh: var(--typical-lh);
    --bg-gradient:linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    );
}
input{
    border: none;
}

ul{
    padding: 0px;
    margin: 0px;
    list-style-type: none
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
p{
    margin: 0px;
    padding: 0px;

    line-height: 24px;
}
img {
    display: block;
    max-width: 100%;
}
body{
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
textarea{
    resize: none;
}
.conteiner{
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1158px;
}
.head-section{
    height: 76px;
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.navigator{
    
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: var(--lh);
    color: var(--navy-blue);
    text-decoration: none;
}

.logo-web {
    color: var(--iris);
}
.navigator{
    display: flex;
    justify-content:flex-start;
}
.menu-nav {
    display: flex;
    margin-left: 77px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    font-weight: 700;
    color:var(--navy-blue);
    
}

.nav-list + .nav-list {
    margin-left: 40px;
}

.nav-item {
    position: relative;
    display: block;

    
    padding-top: 24px;
    padding-bottom: 24px;
    
    background-color: white;
    color: var(--navy-blue);
    text-decoration-line: none;
    font-weight: 500;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio{
    color: var(--ocean);
    height: 76px;

}
.studio::before{
    position: absolute;
    bottom: 0;

    content: '';
    width: 48px;
    height: 4px;

    background-color: #404BBF;
    background-origin: border-box;
    border-radius: 2px;

    display: block;

}
.portfolio{
    color: var(--ocean);
    height: 76px;
}
.portfolio::after{
    position: absolute;
    bottom: 0;

    content: '';
    width: 66px;
    height: 4px;

    background: #404BBF;
    border-radius: 2px;

    display: block;

}
.nav-item:hover,
.nav-item:focus {
    color: var(--iris);
}
.nav-item:active{
    color: var(--iris);
}
.adress-menu{
    margin-left: 331px;
}
.adress-list{
}
.adress{
    display: flex;
    height: 76px;

    justify-content: center;
    align-items: center;

    margin-left: auto;
    gap: 40px;

    background-color: var(--white-color);
}
.adress-item-tel,
.adress-item-mail {
    display: flex;
    gap: 5px;
    
    padding-top: 24px;
    padding-bottom: 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--slate);
    text-decoration: none;
    font-style: normal;
}
.adress-item-tel:hover,
.adress-item-tel:focus,
.adress-item-mail:hover,
.adress-item-mail:focus
{
color: var(--iris);
}



.first-section{
    margin-left: auto;
    margin-right: auto;

    padding-top: 192px;
    padding-bottom: 192px;
    background-color: var(--navy-blue);

    max-width: 1440px;

    background-image: var(--bg-gradient),
    url(../images/people-office\ 1.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center ;
    display: block;
}
.second-section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-third{
    padding-bottom: 120px;
}
.section-fourth{
    background-color: var(--cloud);
    padding-top: 120px;
    padding-bottom: 120px;
}
.conteiner.header{
    padding-top: 192px;
    padding-bottom: 192px;
}

.header-text {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;

    width: 492px;
    height: 120px;
    text-align: center;
    
}

.header-button {
    width: 170px;
    height: 51px;

    font-family: "Roboto", sans-serif;
    background-color: var(--iris);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    cursor: pointer;
    letter-spacing: 0.04em;

    margin-right: auto;
    margin-left: auto;

    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;

    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-button:hover,
.header-button:focus {
    background-color: var(--ocean);

}

.header-button:active {
    background: #404BBF;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.filter{
    display: flex;
    justify-content:center;

    margin-bottom: 72px;
    border: none;
    background-color: var(--white-color);

}
.filter-button{
    padding: 12px 24px;
    border: 1px solid var(--cornflower);
    border-radius: 4px;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    background-color: var(--cloud);
    color: var(--iris);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--iris);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;

}
.filter-button:active{
    background: var(--ocean);
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    
}
.filter-item + .filter-item{
    margin-left: 24px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
}
.list{
    display: flex;
    padding: 0px;
    
}

.feature + .feature{
    margin-left: 24px;
}
feature{
    width: 260px;
}
.feature-title{
    color: var(--navy-blue);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.feature-text {
    color: var(--slate);
    width: 264px;
}
.work-exampl{
    padding-top: 0px;
}

.work {
    text-align: center;
    margin-bottom: 72px;

    color: var(--navy-blue);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.work-imgs{
display: flex;
padding-left: 0px;
}
.work-item + .work-item{
    margin-left: 24px;
}
.team { 
    background-color: var(--cloud);
}

.team-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
}
.team-cards{
    display: flex;
    padding-left: 0px;

}
.team-card + .team-card{
    margin-left: 24px;
}
.team-card{
    border: 0.5px solid var(--cloud);
}
.slot-card{
    text-align: center;
    min-width: 264px;
    height: 168px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.card-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.card-text {
    color: var(--slate);
    margin-top: 8px;
    margin-bottom: 8px;
}
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--navy-blue);
    
}
.link-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    color: var(--cloud);
}

.text-footer {
    margin-top: 16px;
    color: #E7E9FC;

    width: 264px;
}
.project-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.project-card{
    position: relative;
    width: 360px;
}

.project-card:nth-child(3n+2){
    margin-left: 24px;
    margin-right: 24px;
}
.project-card:nth-child(-n+6){
    margin-bottom: 48px;
}
.project-img{
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;

}
.project-text-ishidden{
    position: absolute;
    opacity: 0;
    display: inline-block;
    width: 100%;
    height: 100%;


    color: var(--cloud);
    background-color: rgba(77, 90, 229, 0.9);
    padding-top: 40px;
    padding-bottom: 164px;
    padding-right: 32px;
    padding-left: 32px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 250ms var(--timming);
;
}

.project-link:hover .project-text-ishidden,
.project-link:focus .project-text-ishidden{
    opacity: 1;
    transform: translateY(0%);

}
.project-link{
    display: block;
    text-decoration: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus{

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-card{
    background-color: var(--white-color);
}
.card-content{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border-left: 0.5px solid var(--cloud);
    border-right: 0.5px solid var(--cloud);
    border-bottom: 0.5px solid var(--cloud);
    color: var(--navy-blue);
}
.project-card-name{
    margin-bottom: 8px;
}
.portfolio-section{
    padding-top: 96px;
    padding-bottom: 120px;
}
.team-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.team-soc-item {
    width: 40px;
    height: 40px;
    

}
.team-soc-link {
    width: 100%;
    height: 100%;
    background-color: var(--iris);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-icon{
    fill: white;
}
.team-soc-link:hover,
.team-soc-link:focus{
    background-color: var(--ocean);
}
.section-fifth{
    padding-top: 130px;
    padding-bottom:120px;
}

.feature-icon{
    
    width: 64px;
    height: 64px;
    background-color: var(--cloud);
    fill:var(--navy-blue)
}
.icon-item{
    width: 264px;
    height: 112px;
    background-color: var(--cloud);

    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--navy-blue);
    
}

.—Åustomers-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
}
.costumers-list {
    display: flex; 
    gap: 24px;
}
.costumers-link{
    width: 168px;
    height: 88px;
    color: currentColor;

    border: 1px solid#8E8F99;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; 

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.costumers-list-item{
    color: var(--light-slate);
    width: 168px;
    height: 88px;
}
.costumers-link:hover{
    color: var(--ocean);
    border-color: var(--ocean);
}
.costumers-link:focus{
    color: var(--ocean);
    border-color: var(--ocean);
}
.costumers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.footer-list{
    display: flex;
    gap: 100px;
}
.body-medium{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--white-color);

    margin-bottom: 16px;
}
.footer-list-icon{
    display: flex;
    align-items: flex-start;
    gap: 16px;

}
.footer-item-icon{
    width: 40px;
    height: 40px;
}
.footer-svg-item{
    width: 24px;
    height: 24px;
}
.footer-icon-link{
    width: 40px;
    height: 40px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);;
    fill: var(--white-color);
    border-radius: 50%;
    cursor: pointer;

    display: block;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover ,
.footer-icon-link:focus{
    background-color: #31D0AA;
}
.backdrop{
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: #2e2f4264;

    transition: opacity 250ms var(--timming), visibility 250ms var(--timming);

}
.footer-sub-list{
    display: flex;
    gap: 24px;
}
.footer-form{
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.form-field{
    display: flex;
    flex-direction: column;
}
.footer-input{
    width: 264px;
    height: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding: 8px 16px;
}
.footer-label{
    color: var(--white-color);

}
.footer-button-text{
    width: 77px;
    height: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.icon-footer{
    width: 24px;
    height: 24px;
}
.footer-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;  


    color: var(--white-color);
    background-color: var(--iris);
    border-radius: 4px;
     border: none;
    transition: background-color 250ms var(--timming),
    color 250ms var(--timming)

}
.footer-button:hover,
.footer-button:focus{
    background-color: var(--ocean);
    color: var(--white-color);

}
.footer-p{
    position: absolute;
    left: 24px;
    top: 8px;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 576px;
    padding: 72px 24px 24px 24px;

    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%);
}
.modal-close{
    position: absolute;
    cursor: pointer;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    background-color: var(--cornflower);
    color: black;

    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    transition: background-color 250ms var(--timming), color 250ms var(--timming);
}
.modal-close:active,
.modal-close:hover,
.modal-close:focus{
    background-color: var(--ocean);
    color: var(--white-color);
}
.modal-icon{
    fill: currentColor;
    width: 8px;
    height: 8px;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.text-modal{
    color: var(--navy-blue);
    text-align: center;
    margin-bottom: 14px;
}
.modal-form{
}
/* .form-field{
    position: relative;
    width: 360px;
    padding-right: 24px;
    padding-left: 24px;
    display: flex;
    gap: 4px;

    border-radius: 4px;
} */
.modal-form{
    border-radius: 4px;
}
.input-wrap input{
    width: 100%;
    height: 100%;
}

.label{
    color: var(--light-slate);
}

.modal-checkbox{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 360px;
    height: 16px;
    margin-top: 16px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    
}
.checkbox{
    appearance: none;

}
.modal-checkbox label{
    color: #8E8F99;
    display: flex;
    align-items: center;
}
.modal-send{
    width: 156px;
    height: 56px;
    color: var(--white-color);
    background-color: var(--iris);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    transition: background-color 250ms var(--timming);

    cursor: pointer;
}
.modal-send:hover,
.modal-send:focus{
    background-color: var(--ocean);
}

.form-label{
    display: block;
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.input-wrap{
    position: relative;
    width: 360px;
    height: 40px;
    background-color: #FCFCFC;

    margin-bottom: 8px;
}
.input-wrap:focus-within{
    border-color: var(--iris);
    fill: var(--iris);
}
.input-wrap input{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px 38px;
    background-color: #FCFCFC;

}
.input-wrap input::placeholder{
    color: rgba(117, 117, 117, 0.5);
}
/* .input-form::focus{
    border: px solid var(--iris);
} */

.form-icon{
    position: absolute;
    left: 19px;
    top: 50%;
    width: 18px;
    height: 24px;
    transform: translateY(-50%);

}
.form-textarea{
    display: block;
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.form-label-textarea{
    display: block;
    margin-bottom: 0px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8E8F99;

}
/* .form-textarea:focus{
    border: 1px solid var(--iris);
} */
.checkbox-link{
    color: var(--iris);
}
.icon-checkbox{
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    border: 1.25px solid var(--navy-blue);
    border-radius: 2px; 
    margin-right: 8px;
}
.checkbox:checked + .icon-checkbox{
    width: 16px;
    height: 16px;
    border-color: var(--ocean);
    background-color: var(--ocean);
    background-image: url(../images/icon/Property\ 1=click\ \(2\).svg);
    background-size: contain;
    background-origin: border-box;

}
.checkbox:focus + .icon-checkbox{
    border: 2px solid blue;
}
.form-modal{
    margin-bottom: 8px;
}